@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');


*{
    font-family: 'Assistant', sans-serif;
}

body{
    background-color: #EEEEEE;
    margin: auto;
}

div{
    border-radius: 5px;
    background-color: white;
    text-align: center;
}


h1{
    background-color: #19D3DA;
    color: white;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

h3{
    margin: 0px;
    padding: 0px;
}

.space{
    padding-bottom: 20px;
}